/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* STYLES */

.bodyReg {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.blackHeader {
  background-color: rgb(0, 0, 0);
}

.logoWhiteFont {
  width: 143px;
  margin: 27px 20px 17px 30px;
}

.flexContainerMain {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.mainReg {
  margin: 40px 0;
  max-width: 760px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgb(160, 160, 160);
  align-self: center;
}

.mainTitle {
  background-color: rgb(143, 64, 156);
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 800;
  line-height: 32px;
  padding: 20px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: sans-serif;
}

.intro {
  text-align: center;
}

.regDetails {
  max-width: 80%;
  margin: auto;
}

.flexContainerInput {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pSmall {
  text-align: center;
  font-size: 14px;
}

.purpleSubheading {
  color: rgb(143, 64, 156);
  font-size: 22px;
  margin: 20px 0px;
  font-family: sans-serif;
}

.inputLabel {
  font-weight: bold;
  line-height: 28px;
  font-family: sans-serif;
}

.labelDetail {
  margin: 0;
  font-size: 14px;
}

.helpIcon {
  height: 38px;
}

.textBoxHalfWidth,
.textBox {
  border-color: rgb(160, 160, 160);
  border-width: 1px;
  border-style: solid;
  height: 32px;
  font-size: 16px;
  width: 80%;
  padding: 4px;
  margin-bottom: 3%;
}

.textBoxHalfWidth {
  width: 50%;
}

.warning {
  color: rgb(238, 86, 35);
  font-weight: bold;
  margin-top: 0;
}

.flexContainerDateBox {
  display: flex;
  flex-flow: row nowrap;
}

.dateBox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 44px;
  font-size: 16px;
  border-color: rgb(160, 160, 160);
  border-width: 1px;
  padding: 4px;
  border-radius: 5px;
  background: url("/public/dropdownIcon.png") no-repeat 96% center;
  flex-grow: 0.24;
  margin: 1% 1% 1% 0;
}

#year {
  margin: 1% 0;
}

#password {
  background: url("/public/eyeIcon.png") no-repeat 96% center;
}

.purpleButton {
  background-color: rgb(143, 64, 156);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  border-style: hidden;
  padding: 14px 24px;
  min-width: 30%;
  margin: 28px 0;
}

.purpleButton:hover {
  transition-duration: 0.6s;
  background-color: rgb(103, 24, 106);
}

.footerReg {
  background-color: rgb(100, 100, 100);
  margin-top: auto;
  padding-top: 40px;
}

.footerContent {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  max-width: 760px;
  margin: auto;
}

.smallHeading {
  font-size: 16px;
}

.paymentCards {
  max-height: 40px;
  margin-top: 20px;
}

.version {
  text-align: left;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /*FOR TABLETS*/
  .mainReg {
    max-width: 96%;
    margin: 1% 0;
  }
  .textBox {
    width: 98%;
  }
  .textBoxHalfWidth {
    width: 98%;
  }
  .dateBox {
    margin: 1% 0;
  }
  .flexContainerDateBox {
    flex-direction: column;
    flex-grow: 1;
  }
  .purpleButton {
    width: 100%;
  }
}
@media (max-width: 425px) {
  /*FOR PHONES*/
  .mainTitle {
    font-size: 20px;
  }
  .purpleSubheading {
    font-size: 20px;
  }
}
