/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 24px;
  font-size: 1.6rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input,
button {
  font-size: 16px;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* STYLES */

.bodyReg {
  font-family: "Nunito", sans-serif;
}

.blackHeader {
  background-color: rgb(0, 0, 0);
}

.logoWhiteFont {
  width: 14.3rem;
  padding: 2.7rem 2rem 1.7rem 3rem;
}

.flexContainerMain {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.regContainer {
  margin: 4rem 0;
  max-width: 76rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.8rem 0 rgb(160, 160, 160);
  align-self: center;
}

.mainTitle {
  background-color: rgb(143, 64, 156);
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  font-weight: 800;
  padding: 2rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: sans-serif;
  text-align: center;
}

.intro {
  text-align: center;
}

.regDetails {
  padding: 2.4rem 7.6rem 4rem;
}

.flexContainerInput {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pSmall {
  text-align: center;
  font-size: 1.4rem;
}

.purpleSubheading {
  color: rgb(143, 64, 156);
  font-size: 2.2rem;
  margin: 2rem 0;
  font-family: sans-serif;
}

.formText {
  padding-bottom: 1rem;
}

.inputLabel {
  font-weight: bold;
  font-family: sans-serif;
  display: block;
}

.labelDetail {
  font-size: 1.4rem;
}

.helpIcon {
  height: 3.8rem;
}

.textBox {
  border: 0.1rem solid rgb(160, 160, 160);
  height: 3.2rem;
  padding: 0.4rem;
  margin: 2rem 0;
}

.textBoxHalfWidth {
  width: 30rem;
  border: 0.1rem solid rgb(160, 160, 160);
  height: 3.2rem;
  padding: 0.4rem;
  margin: 2rem 0;
}

.warning {
  color: rgb(238, 86, 35);
  font-weight: bold;
  display: none;
}

.flexContainerDateBox {
  display: flex;
  flex-flow: row nowrap;
}

.dateBox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 4.4rem;
  border: rgb(160, 160, 160), 0.1rem;
  padding: 0.4rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  background: url("/public/dropdownIcon.png") no-repeat 96% center;
  flex-grow: 0.24;
  margin-right: 0.8rem;
}

#password {
  background: url("/public/eyeIcon.png") no-repeat 96% center;
  display: block;
}

.purpleButton {
  background-color: rgb(143, 64, 156);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-style: hidden;
  padding: 1.4rem 4rem;
}

.purpleButton:hover {
  transition-duration: 0.6s;
  background-color: rgb(103, 24, 106);
}

.footerReg {
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-flow: column;
}

.footerContent {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.4rem;
  max-width: 76rem;
  align-self: center;
  margin: 0 0 3rem;
}

.smallHeading {
  font-size: 1.6rem;
  padding: 2.5rem 0;
}

.paymentCards {
  max-height: 4rem;
  padding-bottom: 2rem;
}

.version {
  text-align: left;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /*FOR TABLETS*/
  .flexContainerMain {
    padding: 0 0.8rem;
  }

  .flexContainerDateBox {
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
  }
  .purpleButton {
    width: 100%;
  }
}
@media (max-width: 425px) {
  /*FOR PHONES*/
  .regContainer {
    margin: 1rem 0;
  }

  .regDetails {
    padding: 0.24rem 0.76rem 0.4rem;
  }

  .logoWhiteFont {
    width: 7.15rem;
    padding: 1.45rem 1rem 0.85rem 1.5rem;
  }
  .mainTitle,
  .purpleSubheading {
    font-size: 2rem;
  }
}
